<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="WiX_Installer" Version="0.9.0.0" Manufacturer="Swerik"
			UpgradeCode="43fa019f-9bc3-4b14-9db4-cc1c4e3faafa">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense"/>

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
		</Chain>
	</Bundle>
</Wix>
