<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="WiX_Setup" Language="1033" Version="0.9.0.0" Manufacturer="Swerik"
             UpgradeCode="f1eb1c03-a2af-4516-a472-dece8bb01b0b">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <MediaTemplate/>

        <Feature Id="ProductFeature" Title="WiX_Setup" Level="1">
            <ComponentGroupRef Id="ProductComponents"/>
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="WiX_Setup"/>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductComponent">
                <File Source="D:\Projects\YouTubeStreamTemplates\Publish\bin\64bit\test64.txt"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
